Postgre_data_ingestion.json
{
  "name": "Postgre_data_ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:daily sales usa"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -160
      ],
      "id": "1c8d4ab0-7429-40b9-b4df-18a4746d08a2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ikFPPxOSLaKrFF8n",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -272,
        -160
      ],
      "id": "343f6aa6-c64d-4ad9-b65a-22deff665ac8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -272,
        80
      ],
      "id": "d4a9e62c-02c7-4746-8ec6-5c1fd13da23b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_aggregate",
          "mode": "list",
          "cachedResultName": "fact_aggregate"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "on_time": "={{ $json.on_time }}",
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format('yyyy-MM-dd') }}",
            "in_full": "={{ $json.in_full }}",
            "otif": "={{ $json.otif }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "on_time",
              "displayName": "on_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "in_full",
              "displayName": "in_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "otif",
              "displayName": "otif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -160
      ],
      "id": "b20f82cb-6696-4fbd-a870-cddb8aa34ef9",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "AvP0ADNxldeHs84f",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_order_line",
          "mode": "list",
          "cachedResultName": "fact_order_line"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format('yyyy-MM-dd') }}",
            "customer_id": "={{ $json.customer_id }}",
            "product_id": "={{ $json.product_id }}",
            "order_qty": "={{ $json.order_qty }}",
            "agreed_delivery_date": "={{ $json.agreed_delivery_date }}",
            "actual_delivery_date": "={{ $json.actual_delivery_date }}",
            "delivery_qty": "={{ $json.delivery_qty }}",
            "In Full": "={{ $json['In Full'] }}",
            "On Time": "={{ $json['On Time'] }}",
            "On Time In Full": "={{ $json['On Time In Full'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_qty",
              "displayName": "order_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "agreed_delivery_date",
              "displayName": "agreed_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_delivery_date",
              "displayName": "actual_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_qty",
              "displayName": "delivery_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "In Full",
              "displayName": "In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time",
              "displayName": "On Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time In Full",
              "displayName": "On Time In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        80
      ],
      "id": "13a4d2bf-efe9-43ab-baf1-7d20b43c76d3",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "AvP0ADNxldeHs84f",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5b1684a-b600-44c6-b1a2-860a081145c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a76b887be4664fe1d01d32d02ff2de23a5f6ce4a777a5a32aaddb441907ee91a"
  },
  "id": "305RkmQtwL38kMVV",
  "tags": []
}